requests
python-multipart
boto3
botocore
streamlit
plotly
statsmodels
pandas
numpy
streamlit-image-coordinates
pillow
pytest
pytest-mock
pytest-asyncio
httpx
responses
python-jose[cryptography]==3.3.0
requests==2.32.3
